    <link rel="import" href="../../bower_components/polymer/polymer-element.html">

    <dom-module id="volver-menu">
      <template>
        <style>
          :host {
            display: block;
          }
        </style>
        <link href="pub/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="pub/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- Plugin CSS -->
        <link href="pub/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="pub/css/freelancer.min.css" rel="stylesheet">

        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
              <div class="container">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                      <button class="btn btn-primary btn-xl" onclick="window.location.href='/cuentas'" id="sendMessageButton">Volver</button>
                  </div>
              </div>
        </nav>
        </template>
      <script>
        /**
         * @customElement
         * @polymer
         */
        class VolverMenu extends Polymer.Element {
          static get is() { return 'volver-menu'; }
          static get properties() {
            return {
            };
          }
        }

        window.customElements.define(VolverMenu.is, VolverMenu);
      </script>
    </dom-module>
