<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/menu-usuario/menu-usuario.html">
<link rel="import" href="/src/volver-menu/volver-menu.html">

<dom-module id="movimientos-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="pub/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="pub/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="pub/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="pub/css/freelancer.min.css" rel="stylesheet">

    <!--Estilos y js-->
    <!--<menu-usuario></menu-usuario>-->



    <iron-ajax
      auto=""
      id="getMovement"
      url="http://localhost:3000/colapi/v3/users/{{idbbva}}/{{IBAN}}/movement"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <!-- Navigation -->
      <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">BBVA</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Header -->
      <header class="masthead bg-primary text-white text-center">
        <div class="container">
          <!--<img class="img-fluid mb-5 d-block mx-auto" src="pub/img/profile.png" alt="">-->
          <h1 class="text-uppercase mb-0">START UP</h1>
          <hr class="star-light">
          <h2 class="font-weight-light mb-0">Creando Oportunidades</h2>
        </div>
      </header>
      <center>
        <h2>Movimientos</h2>
      </center>
      <!-- Portfolio Grid Section -->
    <div class="row">
     <div class="col-xs-3"></div>
     <div class="col-xs-6">
       <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cuenta</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Importe</th>
          </tr>
        </thead>
        <template is="dom-repeat" id="accountsUser" items="{{account}}">
            <tr>
                <th align="left">{{item.IBAN}}</th>
                <td align="left">{{item.date}}</td>
                <td align="left">{{item.descripcion}}</td>
                <td align="left">{{item.Importe}}</td>
          </tr>
        </template>
      </table>
    </div>
    <div class="col-xs-3"></div>
    </div>
    <volver-menu></volver-menu>
    </template >

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosCuentas extends Polymer.Element {
      static get is() { return 'movimientos-cuentas'; }
      ready(){
        super.ready()
        //dolar accede al dom del componente emisor
        //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
        if('true'==localStorage.getItem("loggin")){
          console.log('pruebas cuentas '+localStorage.getItem("idUser"));
          this.isLogged = true;
          this.idbbva=localStorage.getItem("idUser");
        }else{
          window.location.href = "/login";
        }
      }
      static get properties() {
        return {
          idbbva:{
            type: String
          },
          IBAN: {
            type: String
          },
          date: {
            type: String
          },
          descripcion: {
            type: String
          },
          importe: {
            type: String
          },
          isLogged: {
            type:Boolean
          }
        };
      }
      showData(data){
        console.log("recibimos datos");
        console.log(data.detail.response);
        this.account=data.detail.response;
      }
    }

    window.customElements.define(MovimientosCuentas.is, MovimientosCuentas);
  </script>
</dom-module>
