<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/menu-usuario/menu-usuario.html">

<dom-module id="visor-account">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <menu-usuario></menu-usuario>
    <center>
      <h2>Cuentas</h2>
    </center>
    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/colapi/v3/users/{{idbbva}}/account"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <div class="row">
     <div class="col-xs-3"></div>
     <div class="col-xs-6">
       <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cuenta</th>
            <th scope="col">Saldo</th>
          </tr>
        </thead>
        <template is="dom-repeat" id="accountsUser" items="{{account}}">
            <tr>
                <th scope="row">{{item.IBAN}}</th>
                <td><a class="btn" href="/movimientos/[[item.IBAN]]">{{item.balance}}</a></td>
          </tr>
        </template>
      </table>
    </div>
    <div class="col-xs-3"></div>
   </div>
  </template >


  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-account'; }
      ready(){
        super.ready()
        //dolar accede al dom del componente emisor
        //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
        if('true'==localStorage.getItem("loggin")){
          console.log('pruebas cuentas '+localStorage.getItem("idUser"));
          this.isLogged = true;
          this.idbbva=localStorage.getItem("idUser");
        }else{
          window.location.href = "/login";
        }
      }
      static get properties() {
        return {
          idbbva:{
            type: String
          },
          IBAN: {
            type: String
          },
          balance: {
            type: String
          },
          account: {
            type: Array
          },
          isLogged: {
            type:Boolean
          }
        };
      }
      showData(data){
        console.log("recibimos datos");
        console.log(data.detail.response);
        this.account=data.detail.response;
        this.nombre =data.detail.firstName;
      }
      formatNumber(num) {
         num += '';
         var splitStr = num.split(',');
         var splitLeft = splitStr[0];
         var splitRight = splitStr.length > 1 ? ',' + splitStr[1] : '';
         var regx = /(\d+)(\d{3})/;
         while (regx.test(splitLeft)) {
            splitLeft = splitLeft.replace(regx, '$1' + ',' + '$2');
         }
         return '$' + splitLeft + splitRight;
      }
    }
    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
