<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <!-- Bootstrap core CSS -->
   <link href="pub/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom fonts for this template -->
   <link href="pub/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
   <!-- Plugin CSS -->
   <link href="pub/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
   <!-- Custom styles for this template -->
   <link href="pub/css/freelancer.min.css" rel="stylesheet">
   <!--Estilos y js-->

   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->

   <!-- Header -->
   <header class="masthead bg-primary text-white text-center">
     <div class="container">
       <!--<img class="img-fluid mb-5 d-block mx-auto" src="pub/img/profile.png" alt="">-->
       <h1 class="text-uppercase mb-0">BBVA</h1>
       <h2 class="font-weight-light mb-0">Creando Oportunidades</h2>
     </div>
   </header>

   <!-- Portfolio Grid Section -->

   <section id="usuario">
     <div class="container">
       <hr class="star-dark mb-5">
       <h2 class="text-center text-uppercase text-secondary mb-0">Login</h2>
       <div class="row">
         <div class="col-lg-8 mx-auto">
             <div class="control-group">
               <div class="form-group floating-label-form-group controls mb-0 pb-2">
                 <label>Correo</label>
                 <input class="form-control" id="email" value="{{email::input}}" type="email" placeholder="Email" required="required" data-validation-required-message="Please enter your email address.">
                 <p class="help-block text-danger"></p>
               </div>
             </div>
             <div class="control-group">
               <div class="form-group floating-label-form-group controls mb-0 pb-2">
                 <label>Contraseña</label>
                 <input class="form-control" id="password" type="password" value="{{password::input}}" placeholder="Contraseña" required="required" data-validation-required-message="Porfavor digita tu contraseña.">
                 <p class="help-block text-danger"></p>
               </div>
             </div>
             <br>
             <div id="success"></div>
             <div class="form-group">
               <center>
                 <button class="btn btn-primary btn-xl" on-click="login" id="sendMessageButton">Iniciar sesión</button>
                 <button class="btn btn-primary btn-xl" onclick="window.location.href='/signup'" id="sendMessageButton">Registrarse</button>
               </center>
             </div>
         </div>
       </div>
     </div>
   </section>

   <span hidden$="{{!isLogged}}">Logado</span>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
     }

     manageAJAXResponse(data) {
       console.log("dataaaaa "+data);
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
       this.isLogged = true;
       localStorage.setItem("loggin", "true");
       localStorage.setItem("idUser", data.detail.response.idBbva);
       window.location.href = "/cuentas";
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
