<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="signup-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Bootstrap core CSS -->
    <link href="pub/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="pub/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="pub/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="pub/css/freelancer.min.css" rel="stylesheet">
    <!--Estilos y js-->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <!--<img class="img-fluid mb-5 d-block mx-auto" src="pub/img/profile.png" alt="">-->
        <h1 class="text-uppercase mb-0">BBVA</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Creando Oportunidades</h2>
      </div>
    </header>
    <section id="usuario">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Nombre</label>
                  <input class="form-control" type="String" placeholder="Nombre" value="{{nombre::input}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Apellido</label>
                    <input type="String" placeholder="Apellido" value="{{apellido::input}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Correo</label>
                  <input type="email" placeholder="Email" value="{{email::input}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Contraseña</label>
                    <input type="password" placeholder="Password" value="{{password::input}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <center>
                  <button class="btn btn-primary btn-xl" on-click="darAlta" href="cuentas" id="sendMessageButton">Registrarme</button>
                </center>
              </div>
          </div>
        </div>
      </div>
    </section>


      <!--<button class="btn btn-success" on-click="darAlta" href="cuentas" >Send</button>-->

      <iron-ajax
        id="doSignup"
        url="http://localhost:3000/colapi/v3/signup"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SignupUsuario extends Polymer.Element {
      static get is() { return 'signup-usuario'; }
      static get properties() {
        return {
          idBbva:{
            type: String
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          password:{
            tyye: String
          }
        };
      }

      darAlta(){
        this.idBbva="COL"+ Math.floor((Math.random() * 99999999) + 1);
        var signData = {
          "idBbva" : this.idBbva,
          "first_name": this.nombre,
          "last_name": this.apellido,
          "email": this.email,
          "password": this.password,
          "logged": true
        };
        this.$.doSignup.body = JSON.stringify(signData);
        console.log(this.$.doSignup.body);
        this.$.doSignup.generateRequest();

      }
      manageAJAXResponse(data) {
        console.log("dataaaaa "+data);
        console.log(data.detail.response);
        this.isLogged = true;
        localStorage.setItem("loggin", "true");
        localStorage.setItem("idUser", this.idBbva);
        window.location.href = "/cuentas";
      }
    }

    window.customElements.define(SignupUsuario.is, SignupUsuario);
  </script>
</dom-module>
