<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="modificar-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <a class="button" href="#">Volver</a>
    <h2>Modificar Usuario</h2>
  </div>
    <input type="String" placeholder="Nombre" value="{{Nombre::input}}">
    <input type="String" placeholder="Apellido" value="{{Apellido::input}}">
    <input type="email" placeholder="Email" value="{{email::input}}">
    <input type="password" placeholder="Password" value="{{password::input}}">
  <div class="row">
    <button class="btn btn-success" on-click="send" >Send</button>
  </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModificarUsuario extends Polymer.Element {
      static get is() { return 'modificar-usuario'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(ModificarUsuario.is, ModificarUsuario);
  </script>
</dom-module>
