<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/colapi/v3/logout"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template >


  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      ready(){
        super.ready()
        if('true'==localStorage.getItem("loggin")){
          console.log('pruebas cuentas '+localStorage.getItem("idUser"));

            var logoutData = {
              "idBbva" : localStorage.getItem("idUser")
            };
            this.$.doLogout.body = JSON.stringify(logoutData);
            console.log(this.$.doLogout.body);
            this.$.doLogout.generateRequest();

            console.log("Petición enviada");

            this.isLogged = false;
            localStorage.setItem("loggin", "false");
            localStorage.setItem("idUser", '0');
            window.location.href = "/login";

        }else{
          window.location.href = "/login";
        }
      }
      static get properties() {
        return {
          idbbva:{
            type: String
          },
          isLogged: {
            type:Boolean
          }
        };
      }

      showData(data){
        console.log("recibimos datos");
      }
    }
    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
