    <link rel="import" href="../../bower_components/polymer/polymer-element.html">

    <dom-module id="menu-usuario">
      <template>
        <style>
          :host {
            display: block;
          }
        </style>
        <!--<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
              <div class="container">
                <div class="collapse navbar-collapse" id="navbarResponsive">-->
                      <!-- <a class="nav-link text-uppercase text-expanded" href="/modificar">Modificar Datos</a>
                      <a class="nav-link text-uppercase text-expanded" href="/eliminar">Eliminar Cuenta</a> -->
                      <!--<a class="nav-link text-uppercase text-expanded" href="/logout">Cerrar Sesión</a>
                    </div>
              </div>
            </nav>-->
            <!-- Bootstrap core CSS -->
            <link href="pub/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!-- Custom fonts for this template -->
            <link href="pub/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
            <!-- Plugin CSS -->
            <link href="pub/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
            <!-- Custom styles for this template -->
            <link href="pub/css/freelancer.min.css" rel="stylesheet">
            <!--Estilos y js-->

            <!-- Navigation -->
              <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="#page-top">BBVA</a>
                  <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">Cerrar Sesión</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>

              <!-- Header -->
              <header class="masthead bg-primary text-white text-center">
                <div class="container">
                  <!--<img class="img-fluid mb-5 d-block mx-auto" src="pub/img/profile.png" alt="">-->
                  <h1 class="text-uppercase mb-0">START UP</h1>
                  <hr class="star-light">
                  <h2 class="font-weight-light mb-0">Creando Oportunidades</h2>
                </div>
              </header>

              <!-- Portfolio Grid Section -->


        </template>

      <script>
        /**
         * @customElement
         * @polymer
         */
        class MenuUsuario extends Polymer.Element {
          static get is() { return 'menu-usuario'; }
          static get properties() {
            return {
            };
          }
        }

        window.customElements.define(MenuUsuario.is, MenuUsuario);
      </script>
    </dom-module>
